* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    font-family: 'Montserrat', sans-serif !important;
    background-color: #f4f4f4
}

ul li {
    list-style: none
}

a {
    color: #fff;
    text-decoration: none !important;
    text-transform: capitalize
}

a:hover {
    color: #fff;
    text-decoration: none;
    text-transform: capitalize
}

.row {
    padding-bottom: 10px
}

.arrow i {
    color: #fff
}

.container {
    width: 98%;
    margin: 0 auto
}

.sub-header {
    background-color: #FE4617;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
    padding: .5em;
    font-weight: 200
}

header {
    background-color: #071F27
}

.header {
    justify-content: space-between;
    align-items: center;
    padding: .5em 0;
    border-bottom: #fff solid 1px
}

.header .logo {
    flex: 0 1 auto
}

.header .logo img {
    width: 220px;
    height: auto
}

.search-bar {
    flex: 0 1 30%;
    align-items: center
}

.search-bar input {
    color: #000;
    font-size: 1em;
    width: 82%;
    height: 50px;
    padding: .5em;
    border: none
}

.search-bar button {
    background-color: #FE4617;
    border: none;
    color: #fff;
    margin: 0;
    padding: 1em;
    width: 50px;
    height: 50px
}

.search-bar button i {
    font-size: 1.5em
}

.search-bar button:hover {
    background-color: #000
}

.build-store {
    flex: 0 1 15%
}

.build-store p {
    color: #FE4617;
    text-align: center;
    font-size: .9rem;
    font-style: italic
}

.header-banner {
    width: 468px
}

.header-banner img {
    width: 100%
}

.nav-bar {
    border-top: #FE4617 1px solid
}

.nav-bar-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center
}

.nav-bar-list-item {
    font-weight: 800
}

.nav-bar-list-item a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: .5em 0
}

.nav-bar-list-item a:hover {
    color: #FE4617
}

.nav-bar img {
    width: 40px;
    height: 40px
}

a.support {
    color: #FE4617;
    font-weight: 800
}

a.faq {
    color: #94d350;
    font-weight: 800
}

.navigagtion-toggler,
label[for="navigagtion-toggler"] {
    display: none
}

.Search-Filter-Box-Mobile {
    box-sizing: border-box;
    border-width: 10px;
    padding: 0 10px;
    display: block
}

.Search-Filter-Box {
    padding: 12px;
    font-size: 13px;
    border-radius: 2px;
    box-shadow: 0 1px 0 0 rgba(219, 219, 219, 0.5);
    background-color: #fff;
    border: solid 1px #d2d3d9;
    margin-bottom: 8px
}

.filter-box-header {
    font-size: 13px;
    font-weight: bolder;
    margin-bottom: 5px
}

.Search-Results-Listings-Container {
    flex: 1;
    margin-top: 10px
}

.Search-Results-Filter-Container {
    padding-top: 20px;
    width: 244px;
    display: table-cell
}

.Discover-Body {
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.Store-Body-Listing-Box {
    cursor: pointer;
    width: 225px;
    height: 284px;
    border-radius: 2px;
    box-shadow: 0 1px 0 0 rgba(219, 219, 219, 0.5);
    background-color: #fff;
    border: solid 1px #d2d3d9;
    margin-bottom: 12px;
    box-sizing: border-box;
    position: relative;
    transition: .1s ease-in-out
}

.Discover-Body-Listing-Link {
    height: 225px;
    position: absolute;
    width: 100%;
    left: 0
}

.verified-mod-badge {
    z-index: 1;
    position: relative
}

.Discover-Body-Listing-Box-Photo {
    width: 223px;
    height: 225px;
    border-radius: 2px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-position: center;
    background-size: cover, cover;
    border-bottom: solid 1px #d2d3d9;
    background-color: #fbfbfb
}

.reportBtnShell {
    margin-top: -48px !important;
    margin-left: 8px !important;
    z-index: 5 !important;
    max-width: 30px !important;
    max-height: 30px !important
}

.Search-Avatar-Circle {
    width: 36px;
    height: 36px;
    border-radius: 35px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
    border: solid 2px #fff;
    background-color: #f5f6f6;
    background-repeat: no-repeat;
    background-size: 36px 36px;
    transition: .15s ease-in-out;
    position: absolute;
    right: 8px;
    top: 202px
}

.Discover-Body-Listing-Box,
.Store-Body-Listing-Box {
    cursor: pointer;
    width: 225px;
    height: 284px;
    border-radius: 2px;
    box-shadow: 0 1px 0 0 rgba(219, 219, 219, 0.5);
    background-color: #fff;
    border: solid 1px #d2d3d9;
    margin-bottom: 12px;
    box-sizing: border-box;
    position: relative;
    transition: .1s ease-in-out
}

.Discover-Body-Listing-Box-Title {
    margin: 0 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Noto Sans';
    font-size: 13.5px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
    width: 170px
}

.Discover-Body-Listing-Box-Title a {
    text-decoration: none;
    color: #000
}

.Listing-Details {
    width: 100%
}

.Discover-Body-Listing-Box-Title a {
    text-decoration: none;
    color: #000
}

.Listing-Star {
    width: 15px;
    height: 18px;
    margin-left: 10px;
    font-family: AppleColorEmoji;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.73;
    letter-spacing: normal;
    text-align: left;
    color: #252525;
    float: left;
    display: table-cell;
    vertical-align: middle
}

.Listing-Rating {
    width: 52px;
    height: 18px;
    font-family: 'Noto Sans';
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
    float: left;
    display: table-cell;
    vertical-align: middle
}

.Listing-Price {
    width: 120px;
    height: 18px;
    font-family: 'Noto Sans';
    font-size: 13px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #2bad23;
    text-align: right;
    float: right;
    margin-right: 10px;
    display: table-cell;
    vertical-align: middle
}

.up-arrow {
    display: inline-block;
    position: relative;
    border: 1px solid #dc873a;
    box-shadow: 0 1px 0 0 rgba(68, 68, 68, 0.5);
    text-decoration: none;
    padding: 12px 20px;
    margin-top: 45px;
    margin-left: -27px;
    background-color: #fef9f5;
    border-radius: 2px;
    width: 218px !important;
    cursor: default
}

.underline {
    text-decoration: underline
}

.verified-mod-tip .verified-mod-text {
    margin: 4px 0
}

.phraseBox {
    margin-right: 8px;
    float: right;
    margin-top: 8px;
    height: 14px;
    padding: 1px 3px;
    font-size: 9px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    border-radius: 2px;
    background-color: #2bae23;
    font-family: 'Noto Sans';
    color: #fff;
    min-width: 70px
}

div.hidden {
    display: none
}

.Discover-Body-Listing-Box-Photo {
    width: 223px;
    height: 225px;
    border-radius: 2px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-position: center;
    background-size: cover, cover;
    border-bottom: solid 1px #d2d3d9;
    background-color: #fbfbfb
}

.reportBtnShell {
    margin-top: -48px !important;
    margin-left: 8px !important;
    z-index: 5 !important;
    max-width: 30px !important;
    max-height: 30px !important
}

.reportBtnShell .iconBtnTn {
    background-color: #fff;
    border-radius: 2px
}

.button {
    user-select: none;
    -webkit-touch-callout: none;
    transition: all .2s ease
}

.shop-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: .3em 0
}

.shop-list-item {
    flex: 0 1 16.4%
}

.shop-list-item a {
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: #ced7dc;
    padding: 1.1em .1em;
    color: #111;
    font-size: 16px
}

.shoplist-item a.highlights {
    color: #fff;
    background-color: #FE4617
}

.shop-list-item a.bold {
    font-weight: 800
}

.cryptocurrencies {
    background-color: #fff;
    border: #ccc solid 1px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center
}

.cryptocurrencies a {
    flex: 0 1 18%;
    background-color: #fff;
    padding: .5em 0
}

.cryptocurrencies a img {
    width: 40px;
    height: 40px
}

.product_title {
    font-size: 19px;
    font-weight: 700;
    text-align: left;
    color: #FAAC0A;
    padding: 1%
}

.Listing-Upper {
    margin-top: 20px;
    display: flex
}

#Listing-Upper-Image {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
}

#more-photos-link {
    margin: 0 auto;
    padding-top: 9px;
    text-align: center
}

.Purchase-Button-Col2 {
    flex: 1
}

.Purchase-Button-Box {
    float: left;
    margin: 0 0 13px 20px;
    width: 385px;
    border-radius: 2px;
    background-color: #fff;
    border: solid 1px #d2d3d9;
    text-align: center;
    padding-top: 22px
}

.Purchase-Button {
    width: 305px;
    height: 56px;
    text-align: center;
    border-radius: 2px;
    box-shadow: 0 0 3px 0 rgba(149, 149, 149, 0.5);
    background-image: linear-gradient(to bottom, #54d447, #2bad23);
    border: solid 2px #fff;
    cursor: pointer;
    margin: 0 auto;
    transition: .15s ease-in-out;
    outline: none
}

.Purchase-Button-Text {
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
    text-shadow: 0 0 1px #319832
}

#listing-metadata-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 27px;
    margin: 12px 0
}

.Buy-Button-Review-Caption {
    display: table-cell;
    font-size: 12.5px;
    padding: 0;
    vertical-align: middle
}

.Buy-Button-Free-Shipping {
    width: inherit;
    height: inherit;
    display: flex;
    align-items: center
}

.Buy-Button-Divider {
    display: table-cell;
    float: left;
    margin: 0 12px;
    width: 0;
    height: 27px;
    border: solid .5px #d2d3d9
}

.Buy-Button-Social {
    display: table-cell;
    vertical-align: middle
}

.Listing-Condition-Box {
    text-align: center;
    font-size: 14px;
    margin: 10px 0 15px 20px;
    border-bottom: 1px solid #d2d3d9;
    padding-bottom: 10px
}

.Listing-Tags {
    padding: 0 20px;
    width: 360px
}

.acceptedCurrency {
    display: flex;
    font-size: 14px
}

.acceptedCurrency div:first-child {
    width: 40px;
    box-sizing: border-box;
    padding-right: 10px
}

.acceptedCurrency .currencyIcon {
    width: 16px
}

.verified-mod-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0 1px 1px 0 rgba(213, 213, 213, 0.5);
    background-image: linear-gradient(to top, #fffaf6, #fff4e9);
    border: solid 1px #e9831e;
    border-radius: 2px;
    color: #252525;
    width: 385px;
    margin: 0 0 13px 20px;
    font-size: 13px;
    box-sizing: border-box;
    padding: 18px;
    margin-top: 15px
}

.verified-mod-container div {
    width: 100%;
    text-align: center;
    align-items: center;
    width: 100%;
    text-align: center;
    align-items: center
}

.Main-Section {
    margin-top: 6px
}

.Listing-Box {
    margin-top: 10px;
    padding: 20px;
    border-radius: 2px;
    box-shadow: 0 0 2px 0 #cfcfcf;
    background-color: #fff;
    border: solid 1px #d2d3d9;
    width: 100%
}

.tag:hover {
    border: solid 1px #000;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.35) !important
}

.tag {
    height: 18px;
    border-radius: 2px;
    box-shadow: 0 1px 0 0 rgba(219, 219, 219, 0.5);
    background-color: #fff;
    border: solid 1px #dbdbdb;
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    cursor: pointer;
    margin-bottom: 7px;
    outline: none;
    transition: .1s ease-in-out;
    user-select: none
}

.Listing-Tags {
    padding: 0 20px;
    width: 360px
}

.banner {
    overflow: hidden;
    width: 100%;
    height: 400px;
    margin: 10px 0;
    position: relative
}

.banner-images {
    width: 300%;
    height: 100%;
    animation-name: banner-slides;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate
}

@keyframes banner-slides {
    0% {
        transform: translateX(0%)
    }

    10% {
        transform: translateX(0%)
    }

    20% {
        transform: translateX(0%)
    }

    33% {
        transform: translateX(-33.3333333333%)
    }

    40% {
        transform: translateX(-33.3333333333%)
    }

    50% {
        transform: translateX(-33.3333333333%)
    }

    66% {
        transform: translateX(-66.6666666666%)
    }

    70% {
        transform: translateX(-66.6666666666%)
    }

    100% {
        transform: translateX(-66.6666666666%)
    }
}

.banner-image {
    width: 33.3333333333%;
    height: 100%;
    float: left
}

.banner-image img {
    width: 100%;
    height: 100%
}

.banner-caption {
    position: absolute;
    top: 28%;
    width: 9%
}

.banner-caption>* {
    margin: 0 auto;
    text-align: center;
    display: block
}

.banner-caption img {
    width: 250px;
    height: auto
}

.banner-caption h1 {
    font-size: 2em;
    font-family: "Montserrat light";
    text-transform: uppercase;
    margin: .5em 0
}

.banner-caption a {
    text-transform: uppercase;
    background-color: #FE4617;
    padding: 1em;
    border-radius: 1.5em;
    width: 80%
}

.banner-caption a:hover {
    background-color: #000
}

.sliders-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr 1fr;
    background-color: #ddd;
    margin-bottom: 30px;
    grid-gap: 7px
}

.slider-1 {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    overflow: hidden
}

.productoftheweek-slides {
    width: 500%;
    height: 100%;
    animation-name: productoftheweek-slides;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: unset
}

.productoftheweek-slide {
    float: left;
    width: 20%;
    height: 100%
}

.productoftheweek-slide1 {
    float: left;
    width: 400px;
    height: 350px;
    padding: 2%
}

@keyframes productoftheweek-slides {
    0% {
        transform: translateX(0%)
    }

    10% {
        transform: translateX(0%)
    }

    20% {
        transform: translateX(-20%)
    }

    30% {
        transform: translateX(-20%)
    }

    40% {
        transform: translateX(-40%)
    }

    50% {
        transform: translateX(-40%)
    }

    60% {
        transform: translateX(-60%)
    }

    70% {
        transform: translateX(-60%)
    }

    80% {
        transform: translateX(-80%)
    }

    100% {
        transform: translateX(-80%)
    }
}

.slider-2 {
    grid-column: 2 / 3;
    grid-row: 2 / 3
}

.slider-3 {
    grid-column: 3 / 4;
    grid-row: 2 / 3
}

.slider-4 {
    grid-column: 2 / 3;
    grid-row: 3 / 4
}

.slider-5 {
    grid-column: 3 / 4;
    grid-row: 3 / 4
}

.week-product-link {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin-bottom: -7px
}

.featured-product-link {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin-bottom: -7px
}

.grid-item img {
    display: block;
    width: 100%;
    height: 100%;
    margin-top: 45px;
}

.grid-item img {
    display: block;
    width: 90%;
    height: 100%;
    margin-top: 20px;
}

.featuredproducts-slides-container {
    overflow: hidden
}

.featuredproducts-slides {
    width: 300%;
    height: 100%;
    animation-name: featuredproducts-slides;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate
}

@keyframes featuredproducts-slides {
    0% {
        transform: translateX(0%)
    }

    10% {
        transform: translateX(0%)
    }

    20% {
        transform: translateX(0%)
    }

    33% {
        transform: translateX(-33.3333333%)
    }

    40% {
        transform: translateX(-33.3333333%)
    }

    50% {
        transform: translateX(-33.3333333%)
    }

    66% {
        transform: translateX(-66.6666666%)
    }

    70% {
        transform: translateX(-66.6666666%)
    }

    80% {
        transform: translateX(-66.6666666%)
    }

    100% {
        transform: translateX(-66.6666666%)
    }
}

.featuredproducts-slide {
    float: left;
    width: 33.3333333%;
    height: 100%
}

.week-product-link,
.featured-product-link {
    width: 50%
}

.premium-store,
.new-products {
    width: 100%
}

.week-product-link,
.featured-product-link,
.premium-store,
.new-products {
    background-color: #212529;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .6em;
    color: #fff;
    font-size: 1.1em;
    border-radius: 10px
}



.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 13px
}

.images {
    flex: 0 1 72%;
    background-color: #fff;
    padding: 1.2em;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px
}

.newimages {
    flex: 0 1 72%;
    background-color: #fff;
    padding: 1.2em;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px
}

.body-banner {
    flex: 0 1 24%;
    margin-bottom: 20px
}

.body-banner-2 {
    order: 1
}

.images-2 {
    order: 2
}

.gallery-images {
    width: 300%;
    position: absolute;
    top: 55%;
    transform: translateY(-55%);
    animation-name: slide;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: unset
}

@keyframes slide {
    0% {
        transform: translateY(-50%) translateX(0%)
    }

    10% {
        transform: translateY(-50%) translateX(0%)
    }

    20% {
        transform: translateY(-50%) translateX(0%)
    }

    33% {
        transform: translateY(-50%) translateX(-30%)
    }

    40% {
        transform: translateY(-50%) translateX(-30%)
    }

    50% {
        transform: translateY(-50%) translateX(-30%)
    }

    66% {
        transform: translateY(-50%) translateX(-60%)
    }

    70% {
        transform: translateY(-50%) translateX(-60%)
    }

    80% {
        transform: translateY(-50%) translateX(-60%)
    }

    90% {
        transform: translateY(-50%) translateX(-90%)
    }

    100% {
        transform: translateY(-50%) translateX(-90%)
    }
}

.gallery-image {
    float: left;
    width: 377px;
    height: 310px;
    padding: 7px
}

.gallery-image1 {
    float: left;
    width: 402px;
    height: 310px;
    padding: 7px
}

.gallery-image1 img {
    max-width: 100%;
    height: auto;
    padding: 5%
}

.gallery-image img {
    max-width: 100%;
    height: auto;
    padding: 5%
}

footer {
    background-color: #071F27;
    color: #fff;
    padding: 2em 0;
    line-height: 1.5em
}

.footer-container {
    width: 90%;
    margin: 0 auto
}

.highlighted {
    color: #FE4617
}

.column-title {
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: 800;
    margin-bottom: 1em
}

.footer-copyright {
    margin-top: 2em;
    text-align: center;
    font-size: 12px
}

.footer-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.footer-column {
    flex: 0 1 22%
}

.footer-column p {
    text-align: justify
}

.footer-column a {
    color: #fff;
    text-decoration: none
}

.footer-column a:hover {
    color: #FE4617
}

.footer-column .social-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: #071f27;
    padding: .2em;
    text-align: center
}

.footer-column .social-links .social-link {
    flex: 0 1 16%;
    padding: .3em .1em
}

.footer-column .social-links img {
    width: 40px;
    height: 40px
}

.extra-margin {
    margin-top: 20px
}

@media screen and (max-width: 1024px)  {
    .newimages {
        flex: 0 1 72%;
        background-color: #fff;
        padding: 0;
        overflow: hidden;
        position: relative;
        margin-bottom: 20px
    }

    .images {
        flex: 0 1 48% !important;
        background-color: #fff;
        padding: 0 !important;
        overflow: hidden;
        position: relative;
        margin-bottom: 20px
    }

    .body-banner {
        flex: 0 1 48% !important;
        margin-bottom: -1px
    }

    .owl-carousel {
        padding-top: 0 !important
    }



    .gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 13px
    }

    .images {
        overflow: hidden;
        position: relative;
        margin: 0 0 10px;
        width: 100%
    }

    .body-banner {
        width: 50%;
        margin: 0 auto 10px
    }

    .gallery-image {
        float: left;
        width: 301px;
        height: 310px;
        padding: 7px
    }

    .gallery-image1 {
        float: left;
        width: 326px;
        height: 247px;
        padding: 9px
    }
}

@media screen and (max-width: 768px) {
    #carouselExampleIndicators1.carousel, #carouselExampleIndicators2.carousel, #carouselExampleIndicators3.carousel {
        width: 361px !important;
        margin: 0 auto;
    }
    .gallery-image {
        float: left;
        width: 225px;
        height: 310px;
        padding: 7px
    }

    .gallery {
        width: 100%;
        margin-bottom: 20px;
        height: auto;
        display: block
    }

    .search-bar input {
        color: #000;
        font-size: 1em;
        width: 92% !important;
        height: 50px;
        padding: .5em;
        border: none
    }

    .newimages {
        flex: 0 1 72%;
        background-color: #fff;
        padding: 0;
        overflow: hidden;
        position: relative;
        margin-bottom: 20px;
    }
    .images {
        flex: 0 1 68%;
        background-color: #fff;
        padding: 1.2em;
        overflow: hidden;
        position: relative;
        margin-bottom: 20px;
    }

    .nav-bar {
        flex: 0 1 100%;
        border-top: #071F27 1px solid
    }

    .no-mobile {
        display: none
    }

    .body-banner {
        width: 100%;
        margin: 0 auto 10px
    }

    .header {
        display: block
    }

    .header div {
        margin: 0 auto;
        text-align: center
    }

    .header .search-bar {
        width: 100%;
        margin: 15px auto;

    }

    .header .header-banner {
        margin: 15px auto
    }

    label[for="navigagtion-toggler"] {
        display: block;
        text-align: center;
        color: #fff;
        font-size: 2em
    }

    .nav-bar-list {
        transform-origin: 50% 0;
        transform: scaleY(0);
        display: none
    }

    .navigagtion-toggler:checked~.nav-bar .nav-bar-list {
        transform: scaleY(1);
        transition: transform .5s linear;
        display: block
    }

    .nav-bar .nav-bar-list-item a {
        text-align: center
    }

    .shop-links-list {
        display: block;
        width: 100%
    }

    .banner-caption {
        top: 50%;
        transform: translateY(-50%) translateX(-50%);
        left: 50%;
        width: 80%
    }

    .banner-caption h1 {
        font-size: 1.5em
    }

    .banner-caption a {
        font-size: .8em
    }

    .sliders-grid {
        display: block
    }

    .week-product-link,
    .featured-product-link,
    .premium-store,
    .new-products {
        margin: 0;
        width: 100%
    }

    .footer-columns {
        display: block
    }

    .footer-column {
        text-align: center;
        margin-bottom: 30px
    }
}

@media screen and (max-width: 425px) {
    .nav-bar {
        flex: 0 1 100%;
        border-top: #071F27 1px solid
    }

    .no-mobile {
        display: none
    }

    .header-banner {
        display: none
    }

    .shop-links-list {
        display: block;
        align-items: center;
        width: 100%
    }

    .gallery {
        width: 100%;
        margin-bottom: 20px;
        height: auto;
        display: block
    }

    .images {
        overflow: hidden;
        padding: 0;
        position: relative;
        margin: 0 0 10px;
        width: 100%
    }

    .gallery-images {
        width: 400%;
        animation-name: slidemobile;
        animation-duration: 20s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out
    }

    .newimages {
        flex: 0 1 72%;
        background-color: #fff;
        padding: 0;
        overflow: hidden;
        position: relative;
        margin-bottom: 20px
    }

    .extra-margin {
        margin-top: 5px
    }

    .productoftheweek-slide1 {
        float: left;
        width: 416px;
        height: 350px
    }

    .gallery-image {
        float: left;
        width: 10%;
        height: 222px;
        padding: 7px
    }

    .gallery-image1 {
        float: left;
        width: 13%;
        height: 222px;
        padding: 7px
    }
}

@media screen and (max-width: 375px) {
    .productoftheweek-slide1 {
        float: left;
        width: 365px;
        height: 350px
    }
}

@media screen and (max-width: 320px) {
    .productoftheweek-slide1 {
        float: left;
        width: 314px;
        height: 350px
    }
}

@keyframes slidemobile {
    0% {
        transform: translateY(-50%) translateX(0%)
    }

    10% {
        transform: translateY(-50%) translateX(0%)
    }

    20% {
        transform: translateY(-50%) translateX(0%)
    }

    33% {
        transform: translateY(-50%) translateX(-30%)
    }

    40% {
        transform: translateY(-50%) translateX(-30%)
    }

    50% {
        transform: translateY(-50%) translateX(-30%)
    }

    66% {
        transform: translateY(-50%) translateX(-60%)
    }

    70% {
        transform: translateY(-50%) translateX(-60%)
    }

    80% {
        transform: translateY(-50%) translateX(-60%)
    }

    90% {
        transform: translateY(-50%) translateX(-90%)
    }

    100% {
        transform: translateY(-50%) translateX(-90%)
    }
}

.body-banner {
    width: 100%;
    text-align: center
}

@media (min-width: 1440px) {
    .container {
        max-width: 100% !important
    }

    .button-carosual {
        background-color: #FE4617;
        padding: 1px 87px;
        border: 1px solid #FE4617;
        border-radius: 30px
    }
}

@media (max-width: 1440px) {
    .button-carosual {
        padding: 1px 87px !important
    }

    .h2,
    h2 {
        font-size: 1rem !important
    }

    .images {
        flex: 0 1 68%;
        background-color: #fff;
        padding: 1.2em;
        overflow: hidden;
        position: relative;
        margin-bottom: 20px
    }

    .body-banner {
        flex: 0 1 32%;
        margin-bottom: -1px
    }



    .search-bar input {
        color: #000;
        font-size: 1em;
        width: 79%;
        height: 50px;
        padding: .5em;
        border: none
    }
}

@media (max-width: 768px) {

    
   
}



@media (min-width: 1920px) {
    .container {
        max-width: 95%
    }
}

@media screen and (max-width: 425px) {
    .search-bar input {
        color: #000;
        font-size: 1em;
        width: 86% !important;
        height: 50px;
        padding: .5em;
        border: none
    }




    .images {
        flex: 0 1 68%;
        background-color: #fff;
        padding: 1em;
        overflow: hidden;
        position: relative;
        margin-bottom: 0
    }
}

@media screen and (max-width: 375px) {


    .search-bar input {
        color: #000;
        font-size: 1em;
        width: 85% !important;
        height: 50px;
        padding: .5em;
        border: none
    }

    .newimages {
        flex: 0 1 72%;
        background-color: #fff;
        padding: 0;
        overflow: hidden;
        position: relative;
        margin-bottom: 20px
    }
}

@media screen and (max-width: 320px) {
    #carouselExampleIndicators1 .carousel {
        width: 292px !important;
        margin: 0 auto;
    }
    .search-bar input {
        color: #000;
        font-size: 1em;
        width: 81% !important;
        height: 50px;
        padding: .5em;
        border: none
    }

    .images {
        flex: 0 1 68%;
        background-color: #fff;
        padding: 1em;
        overflow: hidden;
        position: relative;
        margin-bottom: 0
    }



    .newimages {
        flex: 0 1 72%;
        background-color: #fff;
        padding: 0;
        overflow: hidden;
        position: relative;
        margin-bottom: 20px
    }
    #carouselExampleIndicators1.carousel, #carouselExampleIndicators2.carousel, #carouselExampleIndicators3.carousel {
    width: 295px !important;
    margin: 0 auto;
    }
}

.carosual img {
    width: 60%
}

.button-carosual {
    background-color: #FE4617;
    padding: 12px 156px;
    border: 1px solid #FE4617;
    border-radius: 30px
}

.button-carosual a {
    font-size: 16px;
    color: #fff
}

.carousel-caption h2 {
    color: #000
}

.carousel-caption {
    bottom: 58px !important
}

.carousel-indicators .active {
    background-color: #FE4617 !important
}

.carousel-indicators li {
    background-color: rgba(121, 118, 118, 0.5) !important
}

.carousel-control-next,
.carousel-control-prev {
    width: 7%
}

.single-feature-product .carousel-item {
    padding: 10px
}

.owl-prev,
.owl-next {
    position: absolute;
    top: 49%;
    transform: translateY(-50%);
    font-size: 29px !important;
    color: #fff !important
}

.owl-prev {
    left: 1rem
}

.owl-next {
    right: 1rem
}





.carousel-caption1 {
    position: absolute;
    right: 15%;
    bottom: -2px;
    left: 15%;
    z-index: 10;
    padding-top: 18px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center
}

@media screen and (max-width: 1360px) {
    .search-bar input {
        color: #000;
        font-size: 1em;
        width: 70% !important;
        height: 50px;
        padding: .5em;
        border: none
    }

    .shop-list-item {
        flex: 1 0 17.4%;
        margin-top: 7px;
        margin-left: 6px
    }

    .button-carosual a {
        font-size: 13px;
        color: #fff
    }
}

@media screen and (max-width: 1200px) {
    .search-bar input {
        color: #000;
        font-size: 1em;
        width: 70% !important;
        height: 50px;
        padding: .5em;
        border: none
    }

    .shop-list-item {
        flex: 1 0 17.4%;
        margin-top: 7px;
        margin-left: 6px
    }

    .carousel-caption {
        position: absolute;
        right: 15%;
        bottom: 20px !important;
        left: 15%;
        z-index: 10;
        padding-top: 20px;
        padding-bottom: 20px;
        color: #fff;
        text-align: center
    }

    .button-carosual a {
        font-size: 10px !important;
        color: #fff
    }
}

@media screen and (max-width: 1420px) {
    .search-bar input {
        color: #000;
        font-size: 1em;
        width: 78%;
        height: 50px;
        padding: .5em;
        border: none
    }

    .shop-list-item {
        flex: 1 0 17.4%;
        margin-top: 7px;
        margin-left: 6px
    }

    .button-carosual a {
        font-size: 13px;
        color: #fff
    }
}

#carouselExampleIndicators1.carousel, 
#carouselExampleIndicators2.carousel ,
#carouselExampleIndicators3.carousel {
    width: 350px;
    margin: 0 auto
}

.text-under p {
    padding: 6px 39px;
    font-weight: 800
}

@media (max-width: 801px) and (min-width: 800px)  {
    .images {
        flex: 0 1 51% !important;
        background-color: #fff;
        padding: 0 !important;
        overflow: hidden;
        position: relative;
        margin-bottom: 20px;
    }
    .header .logo {
        flex: 0 1 auto;
        margin: 0 auto;
        text-align: center;
    }
    .header .search-bar {
        width: 100%;
        margin: 15px auto;

    }
    .header-banner {
        width: 468px;
        margin: 0 auto !important;
    }
    .shop-list-item a {
        display: block;
        text-decoration: none;
        text-align: center;
        background-color: #ced7dc;
        padding: 1.1em .1em;
        color: #111;
        font-size: 15px;
    }
    .cryptocurrencies a {
        flex: 0 1 18%;
        background-color: #fff;
        padding: .4em 0;
    }

    .owl-dots {
        display: none;
    }
    
    #carouselExampleIndicators1.carousel, #carouselExampleIndicators2.carousel, #carouselExampleIndicators3.carousel {
        width: 281px !important;
        margin: 0 auto;
    }
    .body-banner {
        flex: 0 1 41% !important;
        margin-bottom: -1px;
    }
  
 
}
@media (max-width: 1390px) and (min-width: 1350px)  {
    #carouselExampleIndicators1.carousel, #carouselExampleIndicators2.carousel, #carouselExampleIndicators3.carousel {
        width: 312px !important;
        margin: 0 auto;
    }
}
.owl-carousel{
    position: relative;
}

.owl-dots{
    position: absolute;
    bottom:10px;
    left:25%;
    right:25%;
}